<header>
  <h1>Todo List</h1>
  <login-buttons></login-buttons>
  <label class="hide-completed">
    <input type="checkbox" ng-model="$ctrl.hideCompleted"/>
    Hide Completed Tasks
  </label>
  <p id="incomplete">{{$ctrl.incompleteCount()}} incompleted tasks</p>
  <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks" id="text-input" />
  </form>
</header>

<ul>
  <li ng-repeat="task in $ctrl.tasks">
    <button class="delete" ng-click="$ctrl.removeTask(task)">&times;</button>

    <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked"/>

    <span class="text">
      <strong>{{task.username}}</strong> - {{task.text}}
    </span>
    <button class="toggle-private" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
      {{task.private == true ? "Private" : "Public"}}
    </button>
  </li>
</ul>
